<% layout('layout/boilerplate.ejs') %>

<div class="container .d-flex justify-content-center align-items-center my-auto">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 mt-5">
      <h2>LogIn</h2>
      <form action="/login" method="post" class="validate-form" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input class="form-control" name="username" type="text" id="username" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="password" name="password" id="password"  required>
          </div>
    <button class="btn btn-success">LogIn</button>
    </form>
       
    </div>
  </div>
  
  </div>


<!-- <div class="container d-flex justify-content-center align-item-center mt-5 ">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
<div class="card shadow">
  <img class="card-img-top" src="https://i1.wp.com/www.electricalindia.in/wp-content/uploads/2019/09/smart-grid-power-electronics-.jpg?resize=696%2C538&ssl=1" alt="">
 <div class="card-body">
  <h5 class="card-title">LogIn</h5>
  <form action="/login" method="post" class="validate-form" novalidate>
    <div class="mb-3">
      <label class="form-label" for="username">Username</label>
      <input class="form-control" type="text" id="username" name="username" required>
    
    </div>
    <div class="mb-3">
      <label class="form-label" for="password">Password</label>
      <input class="form-control" type="password" id="password" name="password" required>
    
    </div>
    <button class="btn btn-success">LogIn</button>
    </form>
 </div>
</div>
    </div>
  </div>
</div> -->




<!-- <div  style="margin-top: 10px; align-items:center; margin: auto;">
<h1>LogIn</h1>


</div> -->