<% layout('layout/boilerplate.ejs') %>
<section>
    <div class="container">
        <div class="col-6 offset-3">
          <h5 id="h5" class="text-center" style="margin-top: 25%;">ORDER PLACED SUCCESSFULLY</h5>
          
        </div>
       
    </div>
    <div id="placed">
      <a  href="/orders"><button class="btn btn-success " style="justify-content: center;">view orders</button></a>
    </div>
   
</section>

<style>
  #placed{
    display: flex;
    justify-content: center;
  }
</style>

